Repository ticdenis/oumi, pull requests merged in 2019-04, with the labels that each got.

#29 Feature/contact new request
  packages/contact/package.json
  packages/contact/src/application/contact-request/contact-request.command.ts
  packages/contact/src/application/contact-request/contact-request.handler.ts
  packages/contact/src/application/contact-request/contact-request.service.ts
  packages/contact/src/application/contact-request/index.ts
  packages/contact/src/application/index.ts
  packages/contact/src/application/user-contacts/user-contacts.service.ts
  packages/contact/src/domain/contact.errors.ts
  packages/contact/src/domain/contact.events.ts
  packages/contact/src/domain/contact.props.ts
  packages/contact/src/domain/contact.repositories.ts
  packages/contact/src/domain/contact.ts
  packages/contact/src/infrastructure/contact.mapper.ts
  packages/contact/src/infrastructure/test/contact.stubs.ts
  packages/contact/test/application/contact-request.ts
  packages/contact/test/domain/contact.ts
  services/account/.env.sample
  services/account/src/repository/typeorm/contact-query.repository.ts
Labels: @oumi-service/account

#30 DebtRequests
  packages/debt/src/application/debt-requests/debt-requests.handler.ts
  packages/debt/src/application/debt-requests/debt-requests.query.ts
  packages/debt/src/application/debt-requests/debt-requests.response.ts
  packages/debt/src/application/debt-requests/debt-requests.service.ts
  packages/debt/src/application/debt-requests/index.ts
  packages/debt/src/application/index.ts
  packages/debt/src/domain/debt.repositories.ts
  packages/debt/test/application/debt-requests.ts
Labels: @oumi-service/debt

#32 feat: contact requests and refactor ref value objects
  packages/contact/src/application/contact-request/contact-request.handler.ts
  packages/contact/src/application/contact-request/contact-request.service.ts
  packages/contact/src/application/contact-requests/contact-requests.handler.ts
  packages/contact/src/application/contact-requests/contact-requests.query.ts
  packages/contact/src/application/contact-requests/contact-requests.response.ts
  packages/contact/src/application/contact-requests/contact-requests.service.ts
  packages/contact/src/application/contact-requests/index.ts
  packages/contact/src/application/index.ts
  packages/contact/src/application/user-contacts/user-contacts.handler.ts
  packages/contact/src/application/user-contacts/user-contacts.service.ts
  packages/contact/src/domain/contact.props.ts
  packages/contact/src/domain/contact.repositories.ts
  packages/contact/src/domain/contact.ts
  packages/contact/src/infrastructure/contact.mapper.ts
  packages/contact/src/infrastructure/test/contact.stubs.ts
  packages/contact/test/application/contact-request.ts
  packages/contact/test/application/contact-requests.ts
Labels: @oumi-service/account

#36 feat: confirm contact request
  packages/contact/src/application/confirm-contact-request/confirm-contact-request.command.ts
  packages/contact/src/application/confirm-contact-request/confirm-contact-request.handler.ts
  packages/contact/src/application/confirm-contact-request/confirm-contact-request.service.ts
  packages/contact/src/application/confirm-contact-request/index.ts
  packages/contact/src/application/index.ts
  packages/contact/src/domain/contact.errors.ts
  packages/contact/src/domain/contact.events.ts
  packages/contact/src/domain/contact.props.ts
  packages/contact/src/domain/contact.repositories.ts
  packages/contact/src/domain/contact.ts
  packages/contact/src/domain/index.ts
  packages/contact/src/infrastructure/test/contact.stubs.ts
  packages/contact/test/application/confirm-contact-request.ts
Labels: @oumi-service/account

#41 Payments list
  packages/payment/src/application/index.ts
  packages/payment/src/application/new-pay/new-pay.service.ts
  packages/payment/src/application/payments/index.ts
  packages/payment/src/application/payments/payments.handler.ts
  packages/payment/src/application/payments/payments.query.ts
  packages/payment/src/application/payments/payments.response.ts
  packages/payment/src/application/payments/payments.service.ts
  packages/payment/src/domain/payment.repositories.ts
  packages/payment/test/application/payments.ts
  user-stories.md
Labels: @oumi-service/payment

#43 feat: confirm contact request
  .vscode/settings.json
  services/accounts/src/config/express/buses.ts
  services/accounts/src/config/express/routes.ts
  services/accounts/src/config/graphql/resolvers/mutation.ts
  services/accounts/src/config/graphql/types/input.ts
  services/accounts/src/config/graphql/types/mutation.ts
  services/accounts/src/features/confirm-contact-request/confirm-contact-request.command-handler.ts
  services/accounts/src/features/confirm-contact-request/confirm-contact-request.mutation-resolver.ts
  services/accounts/src/features/confirm-contact-request/confirm-contact-request.put-controller.ts
  services/accounts/src/features/confirm-contact-request/confirm-contact-request.router.ts
  services/accounts/src/features/confirm-contact-request/confirm-contact-request.validator-handler.ts
  services/accounts/src/features/confirm-contact-request/index.ts
  services/accounts/src/repositories/typeorm/contact-command.repository.ts
  services/accounts/test/features/confirm-contact-request/confirm-contact-request.put-controller.test.ts
  services/accounts/test/features/confirm-contact-request/confirm-contact-request.validator-handler.test.ts
Labels: @oumi-service/account
